@import 'theme-variables';

.welcome-form-component {

    .form-container {
        position: relative;
        flex-grow: 1;
        padding-bottom: 50px;

        input {
            height: 50px;
            font-size: 24px;
        }

        .sections {
            display: flex;
            margin-right: 12px;
            flex-wrap: wrap;

            .sections-wrapper {
                margin-right: 16px;
                margin-bottom: 24px;
            }

            button:active {
                color: $colorWhiteLight !important;
                background-color: $colorPrimaryLight !important;
                border-color: $colorPrimaryLight !important;
            }
        }
    }

    
}