$colorPrimaryLight: #464646;
$colorPrimaryLightShadow: #4646462d;
$colorBGLight: #dcdce6;
$colorTextHeadingLight: #464646;
$colorTextSubHeadingLight: #464646;
$colorTextPrimaryLight: #464646;
$colorWhiteLight: #f5f5f5;
$colorPlaceholderTextLight: #969696;
$colorBorderLight: #464646;
$colorInActiveLight: #898989;

$welcomeContainerWidth: 645px;

$color-map-light: (
    primary: $colorPrimaryLight,
    light: $colorBGLight,
    text-heading: $colorTextHeadingLight,
    text-subheading: $colorTextSubHeadingLight,
    text-primary: $colorTextPrimaryLight,
    appWhite: $colorWhiteLight,
    placeholder-text: $colorPlaceholderTextLight,
    border: $colorBorderLight,
    in-active: $colorInActiveLight,
)