.app-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 58px;

    .app-container {
        align-self: stretch;
        height: -webkit-fill-available;
    }
}