<div class="content-tab">
    <div class="accordion accordion-flush" id="sections">
        <div class="accordion-item app-bg-light" *ngFor="let section of availableSections; let i = index">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed app-bg-light py-3" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+section.id" aria-expanded="true" [attr.aria-controls]="section.id">
              <b>{{section.title}}</b>
              <!-- <i class="bi bi-lightbulb"></i> -->
            </button>
          </h2>
          <div [id]="section.id" class="accordion-collapse collapse" data-bs-parent="#sections">
              <div class="accordion-body pt-0">
                <label *ngIf="section.subHeading" class="mb-2 sub-heading">{{section.subHeading}}</label>

                <!-- Multiple item chip -->
                <div *ngIf="section.isMultiple">
                    <div class="rounded-chip" *ngFor="let item of contentJSON[section.key]; let i = index" (click)="onChipClick(section, item, i)" [ngClass]="{'selected': isEditSection === section.id && editIndex == i}">
                        <div class="chip-content">
                            <p class="chip-title">
                                <b>
                                    {{
                                        section.chipDetails.chipTitle.indexOf('.') >= 0 ?
                                        item[section.chipDetails.chipTitle.split('.')[0]][section.chipDetails.chipTitle.split('.')[1]] :
                                        item[section.chipDetails.chipTitle]
                                    }}
                                </b></p>
                            <p class="chip-sub-title" *ngIf="section.chipDetails?.chipType === CHIP_TYPE.TYPE_1">
                                {{
                                    section.chipDetails.chipSubTitle!.indexOf('.') >= 0 ?
                                    item[section.chipDetails.chipSubTitle!.split('.')[0]][section.chipDetails.chipSubTitle!.split('.')[1]] :
                                    item[section.chipDetails.chipSubTitle!]
                                }}
                            </p>
                        </div>
                        <i class="bi bi-x-circle" (click)="onRemoveItemClick(section, item, i)"></i>
                    </div>
                </div>

                <!-- Dynamic Fields -->
                <div *ngFor="let field of section.fieldsList">
                    
                    <!-- Input Field -->
                    <div *ngIf="field.type === INPUT_TYPES.INPUT" class="mb-4">
                        <div>
                            <label [for]="field.id" class="form-label m-0"><b>{{field.label}}</b></label>
                            <input
                                [type]="field.format ? field.format : 'text'"
                                class="form-control"
                                [id]="field.id"
                                *ngIf="!section.isMultiple"
                                [attr.accept]="field.format == INPUT_FORMAT_TYPES.FILE ? 'image/*' : null"
                                (change)="onInputChange($event, field, contentJSON[section.key], field.id)"
                                [(ngModel)]="contentJSON[section.key][field.id]"
                                [name]="field.id"
                                [placeholder]="field.placeholderText" />
                            <input
                                [type]="field.format ? field.format : 'text'"
                                class="form-control"
                                [id]="field.id"
                                *ngIf="section.isMultiple"
                                (change)="onInputChange($event, field, contentJSON[section.key+'Struct'], field.id)"
                                [attr.accept]="field.format == INPUT_FORMAT_TYPES.FILE ? 'image/*' : null"
                                [(ngModel)]="contentJSON[section.key+'Struct'][field.id]"
                                [name]="field.id"
                                [placeholder]="field.placeholderText" />
                        </div>
                    </div>

                    <!-- Text Area Field -->
                    <div *ngIf="field.type === INPUT_TYPES.TEXT_AREA" class="mb-4">
                        <div>
                            <label [for]="field.id" class="form-label m-0"><b>{{field.label}}</b></label>
                            <textarea
                                class="form-control"
                                [id]="field.id"
                                rows="4"
                                *ngIf="!section.isMultiple"
                                [(ngModel)]="contentJSON[section.key][field.id]"
                                [placeholder]="field.placeholderText"></textarea>
                            <textarea
                                class="form-control"
                                [id]="field.id"
                                rows="4"
                                *ngIf="section.isMultiple"
                                [(ngModel)]="contentJSON[section.key+'Struct'][field.id]"
                                [placeholder]="field.placeholderText"></textarea>
                        </div>
                    </div>

                    <!-- INPUT_GROUP Field -->
                    <div *ngIf="field.type === INPUT_TYPES.INPUT_GROUP" class=" mb-4 d-flex justify-content-between">
                        <div *ngFor="let groupItem of field.groupFieldsList; let i = index;" [class]="'app-flex-grow-'+groupItem.spanSize">
                            <div *ngIf="groupItem.type === INPUT_TYPES.INPUT" [ngClass]="{'first-col': i == 0}">
                                <label [for]="groupItem.id" class="form-label m-0"><b>{{groupItem.label}}</b></label>
                                <input
                                    [type]="groupItem.format ? groupItem.format : ''"
                                    class="form-control"
                                    [id]="groupItem.id"
                                    *ngIf="!section.isMultiple"
                                    [(ngModel)]="contentJSON[section.key][field.id][groupItem.id]"
                                    [placeholder]="groupItem.placeholderText" />
                                <input
                                    [type]="groupItem.format ? groupItem.format : ''"
                                    class="form-control"
                                    [id]="groupItem.id"
                                    *ngIf="section.isMultiple"
                                    [(ngModel)]="contentJSON[section.key+'Struct'][field.id][groupItem.id]"
                                    [placeholder]="groupItem.placeholderText" />
                            </div>
                            <div *ngIf="groupItem.type === INPUT_TYPES.SINGLE_SELECT" [ngClass]="{'first-col': i == 0}">
                                <label [for]="groupItem.id" class="form-label m-0"><b>{{groupItem.label}}</b></label>
                                <select
                                    class="form-select" 
                                    [id]="groupItem.id"
                                    *ngIf="!section.isMultiple"
                                    [(ngModel)]="contentJSON[section.key][field.id][groupItem.id]"
                                    [attr.aria-label]="groupItem.placeholderText">
                                    <option *ngFor="let option of groupItem.options" [value]="option.id">{{option.value}}</option>
                                </select>
                                <select
                                    class="form-select"
                                    [id]="groupItem.id"
                                    *ngIf="section.isMultiple"
                                    [(ngModel)]="contentJSON[section.key+'Struct'][field.id][groupItem.id]"
                                    [attr.aria-label]="groupItem.placeholderText">
                                    <option *ngFor="let option of groupItem.options" [value]="option.id">{{option.value}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Input Mobile group Field -->
                    <div *ngIf="field.type === INPUT_TYPES.INPUT_GROUP_MOBILE" class="mb-4">
                        <label [for]="field.id" class="form-label m-0"><b>{{field.label}}</b></label>
                        <div>
                            <div class="d-flex" *ngIf="!section.isMultiple">
                                <input
                                    type="text"
                                    class="form-control app-flex-grow-1 mobile-input-code"
                                    [id]="field.id+'Code'"
                                    [(ngModel)]="contentJSON[section.key][field.id+'Code']"
                                    [placeholder]="field.placeholderText" />
                                <input
                                    [type]="field.format ? field.format : ''"
                                    class="form-control app-flex-grow-3"
                                    [id]="field.id"
                                    [(ngModel)]="contentJSON[section.key][field.id]"
                                    [placeholder]="field.placeholderText" />
                                </div>
                            <div class="d-flex" *ngIf="section.isMultiple">
                                <input
                                    type="text"
                                    class="form-control app-flex-grow-1 mobile-input-code"
                                    [id]="field.id+'Code'"
                                    [(ngModel)]="contentJSON[section.key+'Struct'][field.id+'Code']"
                                    [placeholder]="field.placeholderText" />
                                <input
                                    [type]="field.format ? field.format : ''"
                                    class="form-control app-flex-grow-3"
                                    [id]="field.id"
                                    [(ngModel)]="contentJSON[section.key+'Struct'][field.id]"
                                    [placeholder]="field.placeholderText" />

                            </div>
                        </div>
                    </div>
                    
                    <!-- Single Select Field -->
                    <div *ngIf="field.type === INPUT_TYPES.SINGLE_SELECT" class="mb-4">
                        <div>
                            <label [for]="field.id" class="form-label m-0"><b>{{field.label}}</b></label>
                            <select
                                class="form-select" 
                                [id]="field.id"
                                *ngIf="!section.isMultiple"
                                [(ngModel)]=" contentJSON[section.key][field.id]"
                                [attr.aria-label]="field.placeholderText">
                                <option *ngFor="let option of field.options" [value]="option.id">{{option.value}}</option>
                            </select>
                            <select
                                class="form-select" 
                                [id]="field.id"
                                *ngIf="section.isMultiple"
                                [(ngModel)]="contentJSON[section.key+'Struct'][field.id]"
                                [attr.aria-label]="field.placeholderText">
                                <option *ngFor="let option of field.options" [value]="option.id">{{option.value}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="footer-buttons d-flex justify-content-end">
                    <button class="btn btn-round app-bg-primary app-color-appWhite px-4" *ngIf="!section.isMultiple" (click)="onClickSaveButton(section)">Save</button>
                    <button class="btn btn-round app-bg-primary app-color-appWhite px-4" *ngIf="section.isMultiple" (click)="onClickAddUpdateButton(section)">{{isEditSection === section.id ? 'Update' : 'Add'}}</button>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>